#wrap {
  margin: 1rem auto;
  max-width: 1080px;
}

h3, h4, p {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  width: 30%;
  background-color: rgb(253, 247, 247);
  border: 1px solid rgb(126, 115, 115);
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
}