.wrapper {
    background-color: rgba(238, 243, 250, 1);
}

/***************************/
/*         task4_1         */
/***************************/

.header-nav {
    background-color: rgba(51, 102, 153, 1);
    width: 8rem;
}

.header-nav ul {
    padding: 1px;
    list-style-type: none;
}

.header-nav ul li {
    list-style-type: none;
    background-color: rgb(252, 252, 249);
    margin: 0.4rem;
    padding: 0.2rem;
    text-transform: uppercase;
}

.header-nav ul li:hover {
    color: rgba(23, 71, 137, 1);
    background-color: rgba(255, 255, 204, 1);
}

.header-nav a {
    text-decoration: none;
    color: rgba(118, 163, 214, 1)
}

/***************************/
/*         task4_2         */
/***************************/

.container {
    text-align: right;
}

.container h1, h3 {
    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.select-text {
    color: rgb(91, 156, 75);
    font-style: italic;
}

.quote-author {
    font-weight: bold;
}


/***************************/
/*         task4_3         */
/***************************/

.side-bar {
    width: 15rem;
    background-color: rgb(255, 255, 255);
}

.side-bar .list-general {
    list-style-image: url('../img/minus.png');
    padding: 0.8rem 1.8rem;
}

.side-bar .list-secondary {
    list-style-image: url('../img/point.png');
    margin-bottom: 1rem;
}

.side-bar a {
    color: rgb(17, 30, 211);
}
