
/************************************************************/
/************************************************************/

body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
}

#wrapper {
    margin: 0 auto;
    max-width: 920px;
}

p {
    margin: 0;
    padding: 0.7rem;
    text-align: justify;
}

hr {
    margin: 1rem 0;
}

strong, b {
    color: rgba(119, 119, 119, 1)
}

.current-link {
    font-weight: bold;
}

/************************************************************/
/************************************************************/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div {
    background-color: rgba(119, 119, 119, 1);
    min-height: 80px; /* убрать при заполнении текстом */
}

.logo {
    width: 14%;
}

.name {
    width: 34%;
}

.contacts {
    width: 50%;
}

/************************************************************/
/************************************************************/

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside nav {
    background-color: rgba(119, 119, 119, 1);
}

aside nav ol {
    list-style: none;
    padding: 0.4rem 0.8rem;
    margin: 1px;
}

aside nav ol a {
    color: rgba(254, 254, 254, 1);
    text-decoration: none;
}

aside nav ol li {
    margin-bottom: 0.2rem;
}

.aside-footer {
    margin-top: 1rem;
    background-color: rgba(119, 119, 119, 1);
    min-height: 50px; /* убрать при заполнении текстом */
}

/************************************************************/

.content {
    width: 80%;
    color: rgba(119, 119, 119, 1);
}

.content-main {
    background-color: rgba(220, 220, 220, 1);
    margin-bottom: 1rem;
}

.content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-row .col {
    width: 18%;
    background-color: rgba(220, 220, 220, 1);
    margin-bottom: 1rem;
    min-height: 120px; /* убрать при заполнении текстом */
}

.content-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-footer .col-1-2 {
    width: 49%;
    background-color: rgba(220, 220, 220, 1);
}

/************************************************************/
/************************************************************/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .col-1-3 {
    width: 32%;
    background-color: rgba(119, 119, 119, 1);
}

footer .col-1-3-nocolor {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .point-list {
    column-count: 2;
}

footer .point-list {
    color: rgba(254, 254, 254, 1);
    list-style: none;
}

footer .tax-list li {
    list-style: square;
    color: rgba(254, 254, 254, 1);
}

footer .col-1-2 {
    background-color: rgba(119, 119, 119, 1);
    min-height: 50px; /* убрать при заполнении текстом */
}
